{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header_meny: Items for the top header menu region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
<header id="header" class="header" role="banner" aria-label="Site header">
    <div id="navbar-top" class="d-none d-lg-block py-2">
        <div class="container">
            <nav role="navigation">
                <ul class="nav justify-content-start">
                    <li>
                        <a href="https://unb.ca" class="nav-link">UNB</a>
                    </li>
                    <li>
                        <a href="https://lib.unb.ca/help/ask.php" class="nav-link"><i class="fa fa-question-circle" aria-hidden="true"></i> Ask Us</a>
                    </li>
                    <li>
                        <a href="https://lib.unb.ca/news/comment" class="nav-link"><i class="fa fa-comments" aria-hidden="true"></i> Feedback</a>
                    </li>
                    <li>
                        <a href="https://lib.unb.ca/search.php" class="nav-link"><i class="fa fa-search" aria-hidden="true"></i> A-to-Z</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <nav id="navbar-main" class="navbar navbar-expand-lg px-0">
        <div class="container">
            <div class="d-flex flex-fill justify-content-center px-2">
                {% if (is_front) %}
                    <div class="branding py-2">
                {% else %}
                    <a class="branding py-2" href="https://lib.unb.ca">
                {% endif %}
                    <h1 class="m-0">
                        <img alt="UNB Libraries" class="img-fluid unblib-logo" src="/themes/custom/unb_lib_theme/dist/img/unb-libraries-red-black.png" />
                        <img alt="UNB Libraries" class="img-fluid unblib-logo-affix" src="/themes/custom/unb_lib_theme/dist/img/unb-libraries-w.png" />
                    </h1>
                </{{ (is_front) ? 'div' : 'a' }}>
            </div>
            <div id="nav-btn" class="d-flex d-lg-none rounded-top border-bottom w-100 mx-0 p-2">
                <ul class="container nav nav-pills justify-content-between">
                    <li class="nav-item flex-fill text-center">
                        <button id="btn-menu" class="btn btn-red" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">Menu <span class="fas fa-bars"></span> </button>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        {% if (is_front) %}
                            <button id="btn-quicklinks" class="btn btn-red" type="button" data-toggle="collapse" data-target="#quicklinks-wrapper" aria-expanded="false" aria-controls="quicklinks-wrapper" aria-label="Toggle QuickLinks">QuickLinks <span class="fas fa-link"></span></button>
                        {% else %}
                            <button id="btn-hours" class="btn btn-red" aria-controls="hours" aria-expanded="false" data-target="#hours" data-toggle="collapse" aria-label="Toggle Hours">Hours <span class="fas fa-clock"></span></button>
                        {% endif %}
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a id="btn-askus" class="btn btn-red" href="https://lib.unb.ca/help/ask.php">AskUs <span class="fas fa-comments"></span></a>
                    </li>
                </ul>
            </div>
            <div id="navbar" class="collapse navbar-collapse px-lg-2 w-100">
                <ul class="navbar-nav rounded-bottom p-1 p-lg-0 w-100" role="menubar">
                    <li class="nav-item dropdown megamenu-li">
                        <a id="btn-about" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">About</a>
                        <div aria-labelledby="navbar btn-about" class="dropdown-menu megamenu m-0 pb-3">
                            <div class="container"><div class="row justify-content-lg-around">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">General</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Contact Us</a></li>
                                        <li><a class="nav-link" href="#">Find Us</a></li>
                                        <li><a class="nav-link" href="#">Staff and Departments</a></li>
                                        <li><a class="nav-link" href="#">Hours</a></li>
                                        <li><a class="nav-link" href="#">Policies</a></li>
                                        <li><a class="nav-link" href="#">Student Employment</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Libraries</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Harriet Irving</a></li>
                                        <li><a class="nav-link" href="#">Science &amp; Forestry</a></li>
                                        <li><a class="nav-link" href="#">Engineering &amp; Computer Science</a></li>
                                        <li><a class="nav-link" href="#">Hans W. Klohn Commons</a></li>
                                        <li><a class="nav-link" href="#">Gerard V. La Forest Law</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Departments</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Archives &amp; Special Collections</a></li>
                                        <li><a class="nav-link" href="#">Centre for Digital Scholarship</a></li>
                                        <li><a class="nav-link" href="#">Microforms</a></li>
                                        <li><a class="nav-link" href="#">Government Documents, Data &amp; Maps</a></li>
                                        <li><a class="nav-link" href="#">…&nbsp;more</a></li>
                                    </ul>
                                </div>
                            </div></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li">
                        <a id="btn-resources" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Resources</a>
                        <div aria-labelledby="navbar btn-resources" class="dropdown-menu megamenu m-0 pb-3">
                            <div class="container"><div class="row justify-content-lg-around">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Resources</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">e-Resources</a></li>
                                        <li><a class="nav-link ml-3" href="#">Article Databases</a></li>
                                        <li><a class="nav-link ml-3" href="#">e-Encyclopedias, etc.</a></li>
                                        <li><a class="nav-link ml-3" href="#">Journals &amp; Newspapers</a></li>
                                        <li><a class="nav-link" href="#">e-Books</a></li>
                                        <li><a class="nav-link" href="#">Videos</a></li>
                                        <li><a class="nav-link" href="#">Current Trials</a></li>
                                        <li><a class="nav-link" href="#">Zotero</a></li>
                                        <li><a class="nav-link" href="#">Mobile Resources for Academics</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Catalogues</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">UNB WorldCat</a></li>
                                        <li><a class="nav-link" href="#">WorldCat FirstSearch</a></li>
                                        <li><a class="nav-link" href="#"><span lang="fr">LAC Voilà</span> <span class="text-warning"><i class="fas fa-star"></i> NEW</span></a></li>
                                        <li><a class="nav-link" href="#">New Brunswick Public Library</a></li>
                                    </ul>

                                    <h3 class="mt-4">Reserves</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Search for Course reserves</a></li>
                                    </ul>

                                    <h3 class="mt-4">Subject &amp; Course Guides</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Research by subject or course</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Notable Collections</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Archives &amp; Special Collections</a></li>
                                        <li><a class="nav-link" href="#">Eileen Wallace Children's Literature</a></li>
                                        <li><a class="nav-link" href="#">UNB Scholar Research Repository</a></li>
                                        <li><a class="nav-link" href="#">Film/Sound/Image Collections</a></li>
                                        <li><a class="nav-link" href="#">Government Documents, Data &amp; Maps</a></li>
                                        <li><a class="nav-link" href="#">Loyalist Collection</a></li>
                                        <li><a class="nav-link" href="#">Science Fiction &amp; Fantasy Collection</a></li>
                                        <li><a class="nav-link" href="#">UNB Theses &amp; Dissertations</a></li>
                                        <li><a class="nav-link" href="#">…&nbsp;more</a></li>
                                    </ul>
                                </div>
                            </div></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li">
                        <a id="btn-services" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Services</a>
                        <div aria-labelledby="navbar btn-services" class="dropdown-menu megamenu m-0 pb-3">
                            <div class="container"><div class="row justify-content-around">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Help with</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Research</a></li>
                                        <li><a class="nav-link" href="#">Writing Help</a></li>
                                        <li><a class="nav-link" href="#">Technical Issues</a></li>
                                    </ul>

                                    <h3 class="mt-4">Request Forms</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Document Delivery</a></li>
                                        <li><a class="nav-link" href="#">Material Retrieval Form</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Information about …</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Copyright</a></li>
                                        <li><a class="nav-link" href="#">Photocopying, Printing &amp; Scanning</a></li>
                                        <li><a class="nav-link" href="#">Group Study Rooms</a></li>
                                        <li><a class="nav-link" href="#">GIS</a></li>
                                        <li><a class="nav-link" href="#">Data Services</a></li>
                                        <li><a class="nav-link" href="#">McNair Learning Commons</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Services for …</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Persons with Disabilities</a></li>
                                        <li><a class="nav-link" href="#">Distance Education</a></li>
                                        <li><a class="nav-link" href="#">Faculty</a></li>
                                        <li><a class="nav-link" href="#">Graduate Students</a></li>
                                        <li><a class="nav-link" href="#">Alumni</a></li>
                                        <li><a class="nav-link" href="#">Community</a></li>
                                        <li><a class="nav-link" href="#">STU Students</a></li>
                                    </ul>
                                </div>
                            </div></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li">
                        <a id="btn-faculty" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Faculty</a>
                        <div aria-labelledby="navbar btn-faculty" class="dropdown-menu megamenu m-0 pb-3">
                            <div class="container"><div class="row justify-content-around">
                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Teaching</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Working with Copyright &amp; Licensed Resources</a></li>
                                        <li><a class="nav-link" href="#">Course Reserves</a></li>
                                        <li><a class="nav-link" href="#">Library Instruction Services</a></li>
                                        <li><a class="nav-link" href="#">Instruction Facilities</a></li>
                                        <li><a class="nav-link" href="#">Teaching Resources</a></li>
                                        <li><a class="nav-link" href="#">Reserve a DVD/Video</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Research</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Citation Metrics and Scholarly Profiles</a></li>
                                        <li><a class="nav-link" href="#">Research Data Management</a></li>
                                        <li><a class="nav-link" href="#">Supporting Open Access</a></li>
                                        <li><a class="nav-link" href="#">Deposit to UNB Scholar</a></li>
                                        <li><a class="nav-link" href="#">Digital Publishing Services</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-lg-4 col-xl-auto">
                                    <h3 class="mt-4">Collections Development</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">News, Reports and Policies</a></li>
                                    </ul>

                                    <h3 class="mt-4">Subject Librarians</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Directory of Liaisons by Subject Area</a></li>
                                    </ul>
                                </div>
                            </div></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li">
                        <a id="btn-help" class="nav-link p-3 px-lg-0 py-lg-4 text-lg-center" href="#" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">Help</a>
                        <div aria-labelledby="navbar btn-help" class="dropdown-menu megamenu m-0 pb-3">
                            <div class="container"><div class="row justify-content-around">
                                <div class="col-sm-12 col-md-6 col-xl-auto">
                                    <h3 class="mt-4">Research &amp; Writing</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Ask Us</a></li>
                                        <li><a class="nav-link" href="#">Research Help</a></li>
                                        <li><a class="nav-link" href="#">Writing Help</a></li>
                                        <li><a class="nav-link" href="#">Guides &amp; Workshops</a></li>
                                        <li><a class="nav-link" href="#">Video Quick Tips</a></li>
                                        <li><a class="nav-link" href="#">Citing Your Sources</a></li>
                                        <li><a class="nav-link" href="#">Accessibility Support</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6 col-xl-auto">
                                    <h3 class="mt-4">Technical Support</h3>
                                    <ul>
                                        <li><a class="nav-link" href="#">Off-campus Access: Proxy and VPN</a></li>
                                        <li><a class="nav-link" href="#">Systems and Services Status</a></li>
                                        <li><a class="nav-link" href="#">Submit a Trouble Ticket</a></li>
                                        <li><a class="nav-link" href="#">Website Accessibility</a></li>
                                        <li><a class="nav-link" href="#">Test your browser/computer settings</a></li>
                                    </ul>
                                </div>
                            </div></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if header_banner_img %}
        <div class="container d-none d-md-block">
            <div id="header-banner" class="row no-gutters" style="background: url({{ header_banner_img }})"></div>
        </div>
    {% endif %}
</header>

{% block content %}
    <div id="main" class="{{ container }}">
        {{ page.breadcrumb }}
        <div class="row row-offcanvas row-offcanvas-left clearfix">
            <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
            </main>
            {% if page.sidebar_first %}
                <div{{ sidebar_first_attributes }}>
                    <aside class="section" role="complementary">
                      {{ page.sidebar_first }}
                    </aside>
                </div>
            {% endif %}
            {% if page.sidebar_second %}
                <div{{ sidebar_second_attributes }}>
                    <aside class="section" role="complementary">
                      {{ page.sidebar_second }}
                    </aside>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

<footer class="site-footer mt-5 pt-4 pb-0">
    <div class="footer-top container pt-2">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-xs-12">
                <nav role="navigation">
                    <h2>General</h2>
                    <ul class="clearfix nav">
                        <li>
                            <a href="https://lib.unb.ca/about/contacts.php" class="nav-link">Contact Us</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/findus.php" class="nav-link">Find Us</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/news/" class="nav-link">Library News</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/hours.php" class="nav-link">Hours</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/policies" class="nav-link">Policies</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <nav role="navigation">
                    <h2>Libraries</h2>
                    <ul class="clearfix nav">
                        <li>
                            <a href="https://lib.unb.ca/about/harrietirving.php" class="nav-link">Harriet Irving</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/science.php" class="nav-link">Science &amp; Forestry</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/engineering.php" class="nav-link">Engineering &amp; Computer Science</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/saintjohn.php" class="nav-link">Hans W. Klohn Commons</a>
                        </li>
                        <li>
                            <a href="http://www.unb.ca/fredericton/law/library" class="nav-link">Gerard V. La Forest Law</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <nav role="navigation">
                    <h2>Departments</h2>
                    <ul class="clearfix nav">
                        <li>
                            <a href="https://lib.unb.ca/archives" class="nav-link">Archives &amp; Special Collections</a>
                        </li>
                        <li>
                            <a href="https://digitalscholarship.lib.unb.ca" class="nav-link">Centre for Digital Scholarship</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/microforms" class="nav-link">Microforms</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/gddm" class="nav-link">Government Documents, Data &amp; Maps</a>
                        </li>
                        <li>
                            <a href="https://lib.unb.ca/about/staff.php" class="nav-link">&hellip;&nbsp;more</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-6 d-none d-md-block unb-logo">
                <a href="//unb.ca">
                    <img class="img-fluid" src="/themes/custom/unb_lib_theme/dist/img/unb-logo-primary-w.png" alt="University of New Brunswick: established in 1785">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-middle container py-4">
        <nav role="navigation">
            <h2>Join the conversation:</h2>
            <ul class="clearfix nav">
                <li>
                    <a href="https://www.facebook.com/pages/UNB-Libraries/23444751122" class="nav-link">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/UNBLibraries" class="nav-link">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/unblibraries" class="nav-link">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Instagram</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer-bottom py-2">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-sm-auto flex-lg-fill">
                    <nav role="navigation">
                        <ul class="nav">
                            <li>
                                <a href="https://www.unb.ca/copyright" class="nav-link"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright</a>
                            </li>
                            <li>
                                <a href="https://unb.ca/privacy/index.html" class="nav-link"> Privacy</a>
                            </li>
                            <li>
                                <a href="https://lib.unb.ca/help/accessibility.php" class="nav-link"> Accessibility</a>
                            </li>
                            <li>
                                <a href="https://lib.unb.ca/libmail/webadmin.php" class="nav-link"> Web Feedback</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-auto pt-2 pt-lg-0">
                    <nav role="navigation">
                        <ul class="nav">
                            <li>
                                <a href="https://unb.ca" class="nav-link">UNB</a>
                            </li>
                            <li>
                                <a href="https://lib.unb.ca/help/ask.php" class="nav-link"><i class="fa fa-question-circle" aria-hidden="true"></i> Ask Us</a>
                            </li>
                            <li>
                                <a href="https://lib.unb.ca/news/comment" class="nav-link"><i class="fa fa-comments" aria-hidden="true"></i> Feedback</a>
                            </li>
                            <li>
                                <a href="https://lib.unb.ca/search.php" class="nav-link"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
